/*small device*/

@media screen and (max-width:993px){

   html{
        font-size:2.35vw ;
    }
    nav{
        height: auto;
        box-shadow: none;
    }
    .nav-left{
        width: 100%;
        justify-content: center;
        margin-top: 2.5rem;
    }
    .navbar,.nav-right{
        flex-direction: column;
    }
    .nav-right{
        width: auto;
    }
    .nav-btn{
        margin-top: 2.5rem;  
    }

    /*banner section*/
    .banner{
        flex-direction:column-reverse;
        width: 100%;
        

    }
    .banner-content{
        width: 83%;
        margin: 1rem 2rem 1rem auto;

        
        
    }
    .banner-details {
        margin-right: 2rem;
        padding: 4rem 0;
    }
    
      #goat{
        top: 6.3rem;
        
      }
    .banner-img{
        width: 67%;
        margin: 3rem auto 0; 
    }

    /*gamer-section responsive style */
    .gamer{
      background-color: transparent;
      margin-bottom: 2rem;
    }
    
    .gamer-section{
        flex-direction: column;
    }
    .gamer-img{
        width: 100%;
      }
      .gamer-content{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
       
      }
      .game-detail{
        width: 62%;
      }.gamer-btn{
        margin-bottom: 3rem;
       
      }
      .gamer-content h4{
        font-size: 1.23rem;
      
      }
    /*gamer section style ends*/

    /* online game section*/
    .game-heading{
      width: 100%;
      
      
    }
    .game-card{
      width: 73%;
      margin: 0 auto;
      grid-template-columns: repeat(1,1fr);
      gap: 1%;
      text-align: center;
    }
    .hover{
      text-align: center;
      position: absolute;
      top: 13rem;
      left: 9.5rem;
      display: none;
    }
  
     /* online game section ends*/


    
}